if [ -f /etc/debian_version ]; then
    DOTFILES_PKG_MGR="apt"
elif [ -f /etc/arch-release ]; then
    DOTFILES_PKG_MGR="pacman"
elif [ -f /etc/fedora-release ]; then
    DOTFILES_PKG_MGR="dnf"
else
    echo "Unsupported distro (none of /etc/debian_version, /etc/arch-release, /etc/fedora-release found)" >&2
    exit 1
fi
