[user]
	name = DoubledDoge
	email = dbritz22@proton.me
	signingkey = {REPLACE}

[core]
	compression = 9
	whitespace = error
	preloadindex = true
	pager = delta
	excludesfile = ~/.gitignore_global

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[init]
	defaultBranch = main

[status]
	branch = true
	showStash = true

[fetch]
	prune = true

[diff]
	context = 3
	renames = copies
	interHunkContext = 10
	algorithm = histogram
	colorMoved = default
	colorMovedWS = allow-indentation-change

[color "diff"]
	meta = black bold
	frag = magenta
	context = white
	whitespace = yellow reverse
	old = red
	new = green

[push]
	autoSetupRemote = true
	default = current
	followTags = true

[pull]
	default = current
	rebase = true

[rebase]
	autoStash = true
	missingCommitsCheck = warn

[rerere]
	enabled = true
	autoupdate = true

[log]
	abbrevCommit = true
	graphColors = blue,yellow,cyan,magenta,green,red

[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta

[color "branch"]
	current = magenta
	local = default
	remote = yellow
	upstream = green
	plain = blue

[branch]
	sort = -committerdate

[tag]
	sort = -taggerdate

[interactive]
	diffFilter = delta --color-only
	singlekey = true

[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true

[merge]
	conflictStyle = zdiff3

[commit]
	template = ~/.gitmessage
	gpgSign = true
	verbose = true

[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential

[alias]
	cm = commit
	co = checkout
	ac = !git add -A && git commit
	st = status -sb
	tags = tag -l
	branches = branch -a
	cleanup = !git branch --merged | grep -v '*' | xargs git branch -d
	remotes = remote -v
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	uns = restore --staged
	amend = commit --amend --no-edit
	undo = reset --soft HEAD~1
	last = log -1 HEAD --stat

[help]
	autocorrect = 15

[color]
	ui = 1
